In [19]:
import pandas as pd
s2 = pd.Series([80,93,78,85,97], index=['English','Science','Social','Tamil','Maths'])
print("The Marks obtained by student are\n", s2)

The Marks obtained by student are
 English    80
Science    93
Social     78
Tamil      85
Maths      97
dtype: int64

In [8]:
# slicing using default integer index
s2[1:4]

Science    93
Social     78
Tamil      85
dtype: int64

In [9]:
s2['Science']

93

In [10]:
dict_fruits = { 'Orange':80,
          'Apples':210,
          'Bananas':50,
         'Grapes':90,
         'Watermelon':70}

In [13]:
# Lets convert this dictionary into a series
fruits = pd.Series(dict_fruits)

In [12]:
fruits

Orange         80
Apples        210
Bananas        50
Grapes         90
Watermelon     70
dtype: int64

In [14]:
# Slice the series and retrieve price of Grapes
print("The price per kg of grapes is:", fruits['Grapes'])

The price per kg of grapes is: 90

In [21]:
df_marks = pd.DataFrame(s2, columns=['Student1'])
df_marks

         Student1
English        80
Science        93
Social         78
Tamil          85
Maths          97

In [22]:
#Create Height series (in feet)
height = pd.Series([5.3, 6.2,5.8,5.0,5.5], index=['Person 1','Person 2','Person 3','Person 4','Person 5'])
height

Person 1    5.3
Person 2    6.2
Person 3    5.8
Person 4    5.0
Person 5    5.5
dtype: float64

In [23]:
 #Create Weight Series (in kgs)
weight = pd.Series([65,89,75,60,59], index=['Person 1','Person 2','Person 3','Person 4','Person 5'])
weight

Person 1    65
Person 2    89
Person 3    75
Person 4    60
Person 5    59
dtype: int64

In [24]:
# Create dataframe
df_person = pd.DataFrame({'height': height, 'weight': weight})
print("The Person table details are:n", df_person)

The Person table details are:n           height  weight
Person 1     5.3      65
Person 2     6.2      89
Person 3     5.8      75
Person 4     5.0      60
Person 5     5.5      59